<div class="col-12">
  <h1 class="text-muted text-center" style="margin-top: 15px" *ngIf="details.length === 0">Please select a date to see the details off</h1>

  <div class="row" *ngIf="details.length > 0">
    <div class="col-3" *ngFor="let item of details; let i = index" style="margin-top: 15px">
      <div class="card text-center">
        <div class="card-header">
          {{item.temp}}°
        </div>
        <div class="card-body">
          <h1><app-weather-icon [type]="item.weather"></app-weather-icon></h1>
        </div>
        <div class="card-footer text-muted">
          {{3 * i}}:00
        </div>
      </div>
    </div>
  </div>
</div>
